<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Xamarin" version="4.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="kphillpotts.Lamp.Plugin" version="1.0.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0.41-beta" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>